In [36]:
# aqui sera la serie de tiempo de Precios en ciudad capital de gasolina super servicio completo. 


# los datos a usar están en la carpeta Datos_precio

In [37]:
import pandas as pd

# funcion para procesar los libros de excel
def load_year_data(year, table_header_start, last_row):
    df = pd.read_excel('Datos_precios/Precios-Promedio-Nacionales-Diarios-2025-1.xlsx',
                       sheet_name=str(year),
                       header= table_header_start,
                       usecols=['FECHA', 'Superior'])
    
    # todos los archivos tienen una linea extra entre el encabezado y los datos
    df = df.iloc[1:last_row]
    
    # Convertir fecha y asegurar formato correcto
    df['FECHA'] = pd.to_datetime(df['FECHA'])
    df['Superior'] = pd.to_numeric(df['Superior'], errors='coerce')
    
    return df

df_2021 = load_year_data("2021", 6, 366)
df_2022 = load_year_data("2022", 6, 366)
df_2023 = load_year_data("2023", 7, 366)
df_2024 = load_year_data("2024", 7, 367)

#aun me falta ver la hoja de 2025 
#df_2025 = load_year_data("2025", 7, 150)

df_2021


# 2022

         FECHA  Superior
1   2021-01-01     21.91
2   2021-01-02     21.91
3   2021-01-03     21.91
4   2021-01-04     21.91
5   2021-01-05     21.91
..         ...       ...
361 2021-12-27     28.69
362 2021-12-28     28.69
363 2021-12-29     28.69
364 2021-12-30     28.69
365 2021-12-31     28.69

[365 rows x 2 columns]

In [38]:
df_2022

         FECHA  Superior
1   2022-01-01     28.69
2   2022-01-02     28.69
3   2022-01-03     28.79
4   2022-01-04     28.79
5   2022-01-05     28.79
..         ...       ...
361 2022-12-27     32.55
362 2022-12-28     32.55
363 2022-12-29     32.55
364 2022-12-30     32.55
365 2022-12-31     32.55

[365 rows x 2 columns]

In [39]:
df_2023

         FECHA  Superior
1   2023-01-01     32.55
2   2023-01-02     32.55
3   2023-01-03     32.56
4   2023-01-04     32.56
5   2023-01-05     32.56
..         ...       ...
361 2023-12-27     30.44
362 2023-12-28     30.44
363 2023-12-29     30.44
364 2023-12-30     30.44
365 2023-12-31     30.44

[365 rows x 2 columns]

In [40]:

df_2024

         FECHA  Superior
1   2024-01-01     30.44
2   2024-01-02     30.44
3   2024-01-03     30.47
4   2024-01-04     30.47
5   2024-01-05     30.47
..         ...       ...
362 2024-12-27     28.99
363 2024-12-28     28.99
364 2024-12-29     28.99
365 2024-12-30     28.95
366 2024-12-31     28.95

[366 rows x 2 columns]